div{
    background: tomato;
    margin-top: 10px;
    padding: 5px;
}
.container {
    background: green;
    max-width: 100%;
    
}

.first-div{
    max-width: 40%;

}

.secound-div{
    max-width: 40%;
    float: right;
    
    
}